root = true

[*]
indent_style = space
tab_width = 2

[*.java]
indent_size = 2
# Standard EditorConfig options
charset = utf-8

# IntelliJ-specific extensions
ij_continuation_indent_size = 4
ij_java_keep_blank_lines_in_declarations = 1
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_blank_lines_between_package_declaration_and_header = 1
ij_java_keep_blank_lines_before_right_brace = 1
ij_java_space_before_array_initializer_left_brace = true
ij_java_wrap_comments = true
